@media (min-width: 770px) and (max-width: 990px)
{
    .HeadIcon
    {
        position: absolute;
        top: 26px;
        right: 800px;
    }
    .Navigation
    {
    position: absolute;
    top: 0px;
    right: 420px;
    
    }
    ul
    {
    display: flex;
    gap: 0px;
    }
    li
    {
    float: left;
    list-style: none;
    }
    .sign
    {   
    font-size: 16px;
    position: absolute;
    top: 27px; 
    right: 45px;  
    }
    .buttonGreen
    {
    display: flex;
    justify-content: center;
    width: 120px;
    font-size: 15px;
    height:27px;
    position: absolute;
    padding-top: 5px;
    right: 130px;
    top: 25px;
    }
    .vector1
    {
    position:absolute;
    right: 820px;
    top: 134px;
    z-index: 3;
    width: 25px;
    }
    .bordervec
    {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    position: absolute;
    right: 807px;
    top: 120px;
    }
    .firstimage
    {
    position: absolute;
    top: 120px;
    right: 100px;
    width: 350px;
    }
    .Storg
    {
    position: absolute;
    right: 710px;
    top: 115px;
    }
    .serve
    {
        width: 350px;
        font-size: 24px;
        position: absolute;
        top: 170px;
        right: 508px;
    }
    .opensrc
    {
    text-align: left;
    position: absolute;
    top: 240px;
    width: 350px;
    right: 508px;
    }
    .opensrc1
    {
    text-align: right;
    position: absolute;
    right: 522px;
    width: 350px;
    top: 350px;
    }
    .buttonGreen2
    {
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 5px;
    right: 630px;
    top: 480px;
    }
    .framer3
    {
    position: absolute;
    z-index: 3;
    top: 545px;
    right: 515px;
    }
    .flexible
    {
    display: flex;
    flex-direction: row;
    gap: 200px;
    position: absolute;
    top: 580px;
    right:100px;
    }
.flexible2
    {
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: absolute;
    top: 600px;
    right: 45px;
    }
    .inet
    {
    position: absolute;
    top:560px;
    right: 250px;
    }
    .markico
    {
    position: absolute;
    right: 125px;
    top:560px;
    width: 25px;
    }
    .ThemeButton
    {
    display: flex;
    justify-content: center;
    width: 70px;
    height:65px;
    position: absolute;
    padding-top: 5px;
    right: 870px;
    top: 90px;
    }
    .arrow
    {
    position: absolute;
    top: 11px;
    right: 690px;
    }
    .arrowanim
    {
        animation: 1s Arrowd ease;
    }
    @keyframes Arrowd
    {
        from{top: 50px;}
        to{top: 11px;}
    }
    .arrow2
    {
    position: absolute;
    top:11px;
    right: 570px;
    }
.sleek
{
    text-align: center;
    position: absolute;
    top: 790px;
    right: 400px;
    font-size: 24px;
    width: 500px;
}
.undersleek
{
    text-align: left;
    position: absolute;
    top: 840px;
    right: 250px;   
}
.secondmg
{
    position: absolute;
    top: 1000px;
    right: 400px;
    width: 500px;
}
.button2pos
{
    position: absolute;
    top: 960px;
    right: 400px;
    display: flex;

}
.buttonspg2
{
    text-decoration: none;
    justify-content: center;
}
.previewPos
{
    position: absolute;
    top: 947px;
    right: 90px;
    text-align: left;
    width: 250px;
    
}
.previewImg
{
    position: absolute;
    top: 1160px;
    right: 340px;
    width: 50px;
}
.thirdpage
{
    position: absolute;
    top: 1350px;
    right: 333px;
    text-align: left;
}
.thirdpages
{
    font-size: 20px;
}
.thirdimg
{
    position: absolute;
    top: 1820px;
    right: 650px;
    width: 150px;
}
.button3pos
{
    position: absolute;
    top: 1780px;
    right: 320px;
    display: flex;
}
.integration
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    position: absolute;
    top: 1850px;
    right: 20px;
}
.underint
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    top: 1940px;
    right: 55px;
    font-size: 14px;
}
.intimg
{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 150px;
    top: 1840px;
    right: 5px;
}
    .wifip
    {
    width: 25px;
    }
    .fourthpage
{
    position: absolute;
    top: 2100px;
    right: 350px;
    width: 500px;
}
.fourth1
{
    font-size: 18px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
}
.fourth
{
    font-size: 36px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
}
body
{
    height: 4250px;
}
.fourimg
{
    position: absolute;
    top: 2600px;
    right: 400px;
    
}
.fourimg2
{
    width: 350px;
}
.button4pos
{
    display: flex;
    position: absolute;
    top: 2560px;
    right: 270px;

}
.threeImg
{
    width: 350px;
}
.last
{
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 3100px;
    right: 200px;
    font-size: 24px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buttonlastpos
{
    position: absolute;
    top: 3200px;
    right: 340px;
}
.linelast
{
    position: absolute;
    top: 3960px;
    right: 0px;
    width: 800px;
}
.under
{
    display: flex;
    flex-direction: row;
    gap: 120px;
    position: absolute;
    top: 4000px;
    right: 25px;
    font-size: 12px;
}
.under2
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4030px;
    right: 495px;
    font-size: 12px;
    flex-wrap: wrap;
   
}
.under3
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4030px;
    font-size: 12px;
    right: 330px;   
}
.under4
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4030px;
    right: 165px;
    font-size: 12px;
}
.under5
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4030px;
    right: 5px;
    font-size: 12px;   
}
.UndIcon
{
    position: absolute;
    top: 4010px;
    right: 650px;
}
.StorgAnim
{
    animation: 1s StorgA ease;
}
@keyframes StorgA
{
    from {right: 1600px;}
    to {right: 1450px;}
}
.NavAnim
{
    animation: 1s Nav ease;
}
@keyframes Nav
{
    from { top: 30px;}
    to {top: 0px;}
}
.animka1
{
    animation: 1s show ease-in-out;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
.buttonAnim
{
    animation: 1s pric ease-in-out;  
}
@keyframes pric 
{
    from { width: 0px; }
    to { width: 135px;}
}
.firstImgAnim
{
    animation: 1s firstImg ease;

}
@keyframes firstImg
{
    from { right: -200px;}
    to {right: 100px; top: 120px;}
}
.gifka
{
    position: absolute;
    top: 3800px;
    right: 340px;
}
}
