body
{
   background-color: #181818;
   height: 4200px; 
   color: white;
}
body.light-theme
{
    background-color: #f4f4f4;
    color: black;
}
body.light-theme nav a,
body.light-theme .sign
{
    color: black;
}
body.light-theme .sign:hover
{
    color: rgb(190, 74, 190);
}
body nav a
{
    color:white;
}
.HeadIcon
{
    position: absolute;
    top: 26px;
    right: 1488px;
}
ul
{
    display: flex;
    gap: 8px;
    
}
li
{
    float: left;
    list-style: none;
}
.main
{
    display: block;
    padding: 12px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    transition: 0.25s;
}
.main:hover
{
    color: rgb(190, 74, 190);
    transition: 0.25s;
}
.arrow
{
    position: absolute;
    margin-left: 550px;
    margin-top: 17px;
}
.arrow2
{
    position: absolute;
    margin-left: 679px;
    margin-top: 17px;
}
.Navigation
{
    position: absolute;
    top: -2px;
    right: 1060px;
}
.buttonGreen
{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: none;
    width: 135px;
    height:27px;
    background-color: rgb(92, 194, 134);
    color: white;
    text-decoration: none;
    position: absolute;
    padding-top: 5px;
    right: 350px;
    top: 22px;
    transition: 0.25s;
}
.buttonGreen:hover
{
    color: black;
    background-color: rgb(224, 255, 213);
    transition: 0.25s;
}
.sign
{
    color: white;
    text-decoration: none;
    font-family: "Roboto mono";
    font-size: 16px;
    position: absolute;
    top: 27px; 
    right: 260px;  
    transition: 0.25s; 
}
.sign:hover
{
    color: rgb(190, 74, 190);
    transition: 0.25s;
}
.vector1
{
    position:absolute;
    right: 1567px;
    top: 192px;
    z-index: 3;
}
.bordervec
{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    position: absolute;
    right: 1550px;
    top: 175px;
}
.firstimage
{
    position: absolute;
    top: 190px;
    right: 263px;
}
.Storg
{
    font-family: "Roboto mono";
    position: absolute;
    right: 1450px;
    top: 170px;
}
.serve
{
    text-align: left;
    width: 1080px;
    font-size: 48px;
    position: absolute;
    top: 210px;
    font-family: "Kanit", sans-serif;
    right: 520px;
}
.opensrc
{
    text-align: left;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 420px;
    right: 1226px;
}
.opensrc1
{
    text-align: left;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    right: 1219px;
    top: 500px;
}
.buttonGreen2
{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border: none;
    width: 125px;
    height:27px;
    background-color: rgb(92, 194, 134);
    color: white;
    text-decoration: none;
    position: absolute;
    padding-top: 5px;
    right: 1370px;
    top: 620px;
    transition: 0.25s;
}
.buttonGreen2:hover
{
    color: black;
    background-color: rgb(224, 255, 213);
    transition: 0.25s;
}
.framer3
{
    position: absolute;
    z-index: 3;
    top: 700px;
    right: 1245px;
}
.inet
{
   position: absolute;
   top:705px;
   right: 790px;
}
.markico
{
    position: absolute;
    top:706px;
    right: 340px;
}
.flexible
{
    display: flex;
    flex-direction: row;
    gap: 347px;
    position: absolute;
    top: 730px;
    right: 540px;
}
.flexible2
{
    display: flex;
    flex-direction: row;
    gap: 240px;
    position: absolute;
    top: 760px;
    right: 350px;
}
.sleek
{
    text-align: left;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 980px;
    right: 728px;
    font-size: 48px;
}
.undersleek
{
    text-align: left;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 1070px;
    right: 986px;   
}
.secondmg
{
    position: absolute;
    top: 1250px;
    right: 1050px;
}
.secondmg2
{
    position: absolute;
    visibility: hidden;
}
.ThemeButton
{
    border-radius: 90px;
    display: flex;
    justify-content: center;
    border: none;
    width: 70px;
    height:65px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: fixed;
    padding-top: 5px;
    right: 1700px;
    top: 80px;
    transition: 0.25s;
    cursor: pointer;
}
body.light-theme .ThemeButton
{
    background-color: black;
    color: white;
}
.buttonspg2
{
    text-decoration: none;
    justify-content: center;
    border: 50%;
    outline: none;
    padding: 7px 15px;
    cursor: pointer;
    border-style:none;
    border-radius: 3px;
    transition: 0.25s;
}
.button2pos
{
    position: absolute;
    top: 1200px;
    right: 1060px;
}
body .buttonspg2
{
    color: #353535;
    background-color: #181818;

}
body .buttonspg2:hover
{
    color: white;
    background-color: #2A2A2A;
}
body.light-theme .buttonspg2:hover
{
    color: #000000;
    background-color: #cecece;
}
body.light-theme .buttonspg2
{
    color: rgb(185, 185, 185);
    background-color: #f4f4f4;
}
.previewPos
{
    position: absolute;
    top: 1190px;
    right: 350px;
}
.previewed
{
    font-size: 20px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
}
.previewImg
{
    position: absolute;
    top: 1380px;
    right: 370px;
}
.thirdpage
{
    position: absolute;
    top: 1680px;
    right: 970px;
}
.thirdpagef
{
    font-size: 48px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    
}
.thirdpages
{
    font-size: 24px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
}
.integration
{
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 2180px;
    right: 1240px;
}
.underint
{
    display: flex;
    flex-direction: row;
    gap: 66px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 2275px;
    right: 1240px;
    font-size: 14px;
}
.intimg
{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 190px;
    top: 2260px;
    right: 1200px;
}
.thirdimg
{
    position: absolute;
    top: 1850px;
    right: 250px
}
.button3pos
{
    position: absolute;
    top: 1810px;
    right: 220px;
}
.fourthpage
{
    position: absolute;
    top: 2500px;
    right: 1090px;
}
.fourth1
{
    font-size: 18px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
}
.fourth
{
    font-size: 48px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
}
.fourimg
{
    position: absolute;
    top: 2680px;
    right: 250px;
}
.button4pos
{
    position: absolute;
    top: 2640px;
    right: 240px;
}
.last
{
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    top: 3400px;
    right: 700px;
    font-size: 36px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonlast
{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border: none;
    width: 125px;
    height:27px;
    background-color: rgb(92, 194, 134);
    color: white;
    text-decoration: none;
    padding-top: 5px;
    transition: 0.25s;
}
.buttonlast:hover
{
    color: black;
    background-color: rgb(224, 255, 213);
    transition: 0.25s;
}
.buttonlastpos
{
    position: absolute;
    top: 3520px;
    right: 920px;
}
.UndIcon
{
    position: absolute;
    top: 3800px;
    right: 1480px;
}
.under
{
    display: flex;
    flex-direction: row;
    gap: 100px;
    position: absolute;
    top: 3786px;
    right: 550px;
}
body .under
{
    color: #353535;
}
body.light-theme .under
{
    color: rgb(135, 135, 135);
}
.under2
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3830px;
    right: 998px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;   
}
.under3
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3830px;
    right: 835px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;   
}
.under4
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3830px;
    right: 677px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;   
}
.under5
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3830px;
    right: 525px;
    font-family: "Kanit", system-ui;
    font-weight: 200;
    font-style: normal;   
}
.linelast
{
    position: absolute;
    top: 3750px;
    right: 20px;
    width: 1880px;
}
